.header {
  width: 100%;
  height: 56px;
  padding: 12px 20px 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 99px;
  width: 100%;
  height: 26px;
}

.header__nav {
  gap: 28px;
  display: flex;
  justify-content: flex-end;
}

.header__nav-link {
  color: inherit;
  text-decoration: none;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 12px 8px 12px;
  margin: 0;
}

.header__nav-link_active {
  background: #9679d933;
  height: 36px;
  border-radius: 4px;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #ffffff;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    z-index: 101;
    display: none;
    pointer-events: auto;
  }

  .header__nav_mobile {
    display: flex;
  }

  .header__nav_chat-mode {
    background-color: transparent !important;
    border: none !important;
    justify-content: flex-end !important;
    padding: 16px !important;
    pointer-events: none;
  }

  .header__nav_chat-mode .header__nav-link {
    pointer-events: auto;
    width: auto;
    margin-top: 8px;
  }

  .header__nav-link {
    width: 100%;
    box-sizing: border-box;
  }
}
